header {
  display: flex;
  font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 width: 100%;
 border-bottom: 1px solid black;
 position: fixed;
 z-index: 5;
 align-items: center;
  height: 80px;
  background: white;
  top: 0;
}

.logo {
display: flex;
align-items:center;
padding-left: 30px;
flex-grow: 1;
}

div.logo span{
color: MediumAquamarine;
align-items: center;
}

div.logo img {
  padding-right: 12px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

nav span a {
    color: black;
}

p {
  font-family: Georgia;
 font-size: 17px;
 color: black;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.container {
  display: flex;
    padding-top: 100px;
    overflow: auto;

}

.column {
margin-right: 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.column.large {
  min-width: 630px;
  width: 630px;
justify-content: space-between;
}

.column.medium {
  min-width: 300px;
  width: 300px;
}

.column.small {
  min-width: 240px;
  width: 240px;
  flex-direction: column;
  margin-right: 0;
}

.image {
  color: white;
  height: 300px;
  display: flex;
  font-weight: bold;
  font-size: 30px;
  font-family: Georgia;
  text-align: center;
}

.main.image {
  font-size: 40px;
  text-align: left;
  background-image: url("../resources/images/img-story-main.png");
}

.backwards {
    background-image: url("../resources/images/img-story-2.png");
    justify-content: center;
}

.memory {
  background-image: url("../resources/images/img-story-3.png");
}

.cats {
  background-image: url("../resources/images/img-story-1.png");
  background-repeat: no-repeat;
}

.orca {
  width: 300px;
}

.breakfast {
  width: 300px;
}

.bites {
  display: flex;
flex-direction: column;
background-color: WhiteSmoke;
font-family: Verdana;
font-size: 12px;
color: DimGray;

}
 .bites span {
   border-bottom: 1px solid black;
       padding: 12px 20px;
 }
