header {
  display: flex;
  font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 width: 100%;
 border-bottom: 1px solid black;
 position: fixed;
 z-index: 5;
 align-items: center;
  height: 80px;
}

.logo {
display: flex;
align-items:center;
padding-left: 30px;
flex-grow: 1;
}

div.logo span{
color: MediumAquamarine;
align-items: center;
}

div.logo img {
  padding-right: 12px;
}

nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 10px;
}

nav span a {
    color: black;
}

div{
  border: 1px solid black;
}

.container {
  display: flex;
    padding-top: 100px;
    overflow: auto;

}

.column {
margin-right: 32px;
  display: flex;
  flex-wrap: wrap;
}

.column.large {
  min-width: 630px;
  width: 630px;

}

.column.medium {
  min-width: 300px;
  width: 300px;
}

.column.small {
  min-width: 240px;
  width: 240px;
  align-items: flex-start;
}
